.navbar-inverse {
    background-color: darkgreen;
    border-color: darkgreen;
}
.text-primary-custom{
	color:green;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFFFFF;
}
.navbar-inverse .navbar-brand {
    color: #FFFFFF;
}